// loader-animations
.loader {@include flexbox; width: 100px; height: 100px; border: solid 5px transparent; border-top-color:#9356DC;
    position: relative; border-radius: 50%;animation: spin linear infinite 1s;}
.loader:before {content: ""; position:absolute; border: solid 4px transparent; border-top-color:#FF79DA;top:5px;
    bottom:5px; right:5px;left:5px;border-radius: 50%;animation: spin linear infinite 2s;}
.loader:after {content: ""; position:absolute; border: solid 3px transparent; border-top-color:#99E2D0;top:15px;
    bottom:15px; right:15px;left:15px;border-radius: 50%;animation: spin linear infinite 1.5s;}



@keyframes spin {
    0% {transform: rotate(0);}
    100%{transform: rotate(360deg);}  
}
@keyframes fade-out {
    0% {opacity: 1;z-index: 1000;}
    100%{ opacity: 0;z-index: -1000;}  
}

// menu-animations
.menu_anim1 {@include anim_menu;animation-duration: 1s;}
.menu_anim2 {@include anim_menu;animation-duration: 2s;}
.menu_anim3 {@include anim_menu;animation-duration: 3s;}
.menu_anim4 {@include anim_menu;animation-duration: 4s;}
.menu_anim5 {@include anim_menu;animation-duration: 5s;}
.menu_anim6 {@include anim_menu;animation-duration: 6s;}

@keyframes anim1 {
    0% {transform: scaleY(0); opacity:.2;};
    25% {transform: scaleY(0);};
    50%{transform: scaleY(0);};
    100%{transform: scaleY(1);};  
}

@keyframes slide {
    0% {transform: scale(0);}
    100%{transform: scale(1);};  
}
