.explorer {border-radius: $rounded-corner; background: linear-gradient($color-secondary, $color-primary);
    color:$color-white; width: 200px; height: 2.5rem; border:none; @include shadow;
    @media screen and (min-width : $tablets){align-self: center;margin-top:2rem;}}
.explorer:hover{filter: brightness(120%);@include greatshadow}