.fa-mobile-alt {@include icon;font-size: 1.2rem; color: #7e7e7e;padding-right: 1rem;}
.fa-list-ul {@include icon;font-size: 1rem; color: #7e7e7e;padding-right: 1rem;}
.fa-store {@include icon;font-size: 1rem; color: $color-primary;padding-right: 1rem;}
.fa-handshake {align-self: flex-start; padding-right: 1rem;}
.fa-utensils {align-self: flex-start; padding-right: 1rem;}
.fa-arrow-left {font-size: 1.1rem; align-self: start;padding-right: 1rem;
    @media screen and (min-width : $tablets){font-size: 1.7rem;}
    @media screen and (min-width : $desktops){padding-left: 4rem;}}
.sticker {@include sticker; top: -9rem; left: -0.5rem;}
.icon_link {font-size: 1.1rem; align-self: center;padding-bottom: 1rem;}
.fa-map-marker-alt {padding-right:1rem;}
.fa-check-circle {font-size: 1.3rem;}


.empty-heart {font-size: 1.5rem;position: absolute;z-index:1;}
.full-heart {font-size: 1.5rem;position: absolute;z-index:0; color:transparent}
.empty-heart:hover {z-index:-1;}
.full-heart:hover {z-index:1;transition: color 2s ease-in; color: $color-secondary;}