.logo_box {@include flexbox; @include center;position: relative;z-index: 1;@include shadow;
    @media screen and (min-width : $desktops){align-items: flex-start; justify-content: flex-start;}}
.logo_big {max-width: 50%;height: auto;padding-bottom: 1rem;
    @media screen and (min-width : $tablets){max-width: 100%;padding-left: 3rem;}
    @media screen and (min-width : $desktops){padding-left: 4rem;}}
.logo_small {font-family: "Shrikhand";font-size: 1.3rem;color: white;padding-bottom: 1rem;}