*   {box-sizing:border-box; margin:0; padding:0;}
html{scroll-behavior: smooth}
body {margin: 0;width: 100%;height: 100vh;}
main {@include flexbox;
@media screen and (min-width : $desktops){justify-content: space-between;}}
section {padding-top: 3rem; padding-bottom: 4rem; padding-left: 1rem;
@media screen and (min-width : $tablets) {padding-bottom: 1rem;padding-left: 2rem;padding-right: 2rem;}
@media screen and (min-width : $desktops){padding-left: 4rem;padding-right: 4rem;}}
