@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {font-size:18px;}
body {font-family: 'Roboto', sans-serif;}
ol {counter-reset: tuto;}
li {@include cadre-tuto; @include shadow; border-radius: $rounded-corner;}
li:before {content: counter(tuto); @include puce;}
a {text-decoration:none;color:black;}
.logo {font-family: 'Shrikhand', cursive;}
.carte_titre {font-family: 'Shrikhand', cursive; font-size: 1.5rem;}
.carte_sous-titre {position: relative;font-size: map-get($font-size, small-text);padding: 2rem 0 0.3rem 1rem;}
.carte_sous-titre:before {content : "";position: absolute;left: 0.8rem;bottom: 0; width: 15%; border-bottom:solid 3px #99E2D0;}
.titre-label {font-size: map-get($font-size, label-text); font-weight: 900;}
.localisation-label {font-size: map-get($font-size, label-text); top : -1rem;}
.titre_plats {font-weight: 900; padding-bottom: 0.3rem;text-overflow: ellipsis;overflow:hidden;white-space: nowrap;}
.sous-titre_plats {text-overflow: ellipsis;overflow:hidden;white-space: nowrap;}
.prix {font-weight: 900;}