@mixin flexbox {display: flex; flex-wrap: wrap; width: 100%;}

@mixin center {align-items: center; justify-content: center;}

@mixin icon {align-self: center; padding: 0px 1rem;}

@mixin shadow ($color : $color-shadow, $size : $size-shadow){box-shadow : $size $color;}
@mixin greatshadow ($color : $color-more-shadow, $size : $bigsize-shadow){box-shadow : $size $color;}

@mixin puce {
    position: relative;
    left: -10px;
    content: counter(tuto); 
	padding: 4px 8px 4px 8px;
    margin-right: 8px;
    border-radius: $rounded-corner;
	background: $color-primary;
	font-weight: bold;
	font-size: 0.6rem;
	color: $color-white;
}

@mixin cadre-tuto {
    max-width: 300px;
    counter-increment: tuto; 
    margin-bottom: 1rem; 
    padding: 1rem;
    padding-left: 0;
    background-color: map-get($background-color, main-color);
    font-size: map-get($font-size, small-text);
}

@mixin cadre-photos {
    display: flex;
    flex: 1;
    max-width: 340px;
    height: 250px;
    margin: 1rem; 
    background-color: $color-white;
    font-size: map-get($font-size, small-text);
    border-radius: $rounded-corner;
}

@mixin photos {
    display: flex;
    flex: 1;
    max-width: 340px;
    height: 180px; 
    object-fit: cover; 
    border-radius: 15px 15px 0 0;  
}


@mixin label {
    display: flex;
    flex: 1;
    max-width: 340px;
    padding-left: 0.5rem;
    padding-top: 0.5rem;   
}

@mixin sticker {
    position: relative; 
    align-self: flex-end;
    background-color: $color-tertiary;
    color: $color-sticker;
    padding:0.3rem;
}

@mixin footer {
    @include flexbox;
    flex-direction: column;
    background-color: map-get($background-color, footer-color);
    color: $color-white;
    padding: 2rem;
}

@mixin carte {
    @include flexbox;
    background-color: map-get($background-color, main-color );
    border-radius: 15px 15px 0 0;
    
}

@mixin plats {
    display: flex;
    flex:1;
    max-width: 90%;
    margin: 1rem 1rem 0rem 1rem; 
    background-color: $color-white;
    font-size: map-get($font-size, small-text);
    border-radius: $rounded-corner;
    @include shadow
}

@mixin anim_menu {transform: scaleX(1);animation-name:anim1;transform-origin: top;}

