$color-primary : #9356DC;
$color-secondary : #FF79DA;
$color-secondary-lighter : #FFA1E5;
$color-tertiary : #99E2D0;
$color-sticker: #0a8d6d;
$color-white : white;
$color-icon-grey : #7e7e7e;
$color-shadow : rgba(0, 0, 0, .2);
$color-more-shadow :rgba(0, 0, 0, .8);
$size-shadow : 0 5px 10px;
$bigsize-shadow : 0 10px 15px;
$circle-border: 60px;
$background-color : (main-color:#f6f6f6, local-color: #eaeaea, footer-color: #353535);
$font-size : (small-text:0.8rem, label-text:1rem, medium-text:1.5rem, title-text:2rem);
$rounded-corner : 15px;
$tablets: 700px;
$desktops: 1200px;