
// section-container
.landing_page {@include flexbox; @include center; background-color: map-get($background-color, main-color);
    @media screen and (min-width : $tablets) {width:50%; background-color:$color-white;} }
.fonctionnement {@include flexbox; @include center;
    @media screen and (min-width : $tablets) {width:50%;} }
.restaurants {@include flexbox; background-color: map-get($background-color, main-color);}
.menu_page {@include flexbox; padding:0;position:relative;}

// landing-page-box
.slogan {@include flexbox; @include center; text-align: center; padding: 0px 1rem;flex-direction: column;
    @media screen and (min-width : $tablets) {text-align:start;align-self: flex-start;padding: 0;align-items: flex-start; justify-content: flex-start;}}
.title {@include flexbox; flex: 1; padding-bottom: 1rem;}
.slogan_small {padding-bottom: 2rem;}

// restaurants-box
.photos_box {@include flexbox; @include center;}
.vignette {@include cadre-photos; flex-direction: column;@include shadow;}
.photos {@include photos;}
.label {@include label; flex-direction: row;position: relative; top: -1.5rem; padding-top: 0;}
.label2 {@include label; flex-direction: row;position: relative; padding-top: 0;}
.label-text {@include label; flex-direction: column; flex:1;}
.label-heart {@include label; flex-direction: column;@include center;flex:0.5;}
.label-heart2 {@include label; flex-direction: column;@include center;flex:0.5; position:relative; top: -0.5rem;}
.label-heart3 {@include label; flex-direction: column;@include center;flex:0.2}


// footer-box
.footer {@include footer;
    @media screen and (min-width : $desktops) {padding-left:4rem;}}
.footer_link {display: flex; padding-bottom: 0.5rem;}
.contact_link {display: flex; padding-bottom: 0.5rem; color:$color-white}

// background-photos-box
.photos_background {@include flexbox; padding:0;position:relative;z-index:0;height: 25vh;
    @media screen and (min-width : $tablets) {height: 50vh;}}
.photos_big {display: flex; flex: 1;object-fit: cover;width: 100%;z-index:0;height: 30vh;
    @media screen and (min-width : $tablets) {height: 55vh;}}

//menu-box 
.carte {@include carte;position:relative;z-index:1;height: 80%;
    @media screen and (min-width : $desktops) {padding:0 4rem;}}
.carte_head {@include flexbox;justify-content: space-between;padding:2rem 1rem 0rem 1rem;}
.carte_label {@include flexbox;flex-direction: column;
    @media screen and (min-width : $tablets) {width: 50%;}
    @media screen and (min-width : $desktops) {width: 33%;}}
.carte_plats{@include flexbox; @include center; flex-direction: column;}
.plats {@include flexbox;@include plats;transition: width; }
.plats:hover .check-box{width:25%;color:white;}
.plats:hover .fa-check-circle {animation: spin 1.5s linear;}
.description_plats {display: flex; flex: 1; justify-content: space-between; flex-direction: column; padding:0.5rem;text-overflow: ellipsis;overflow:hidden;white-space: nowrap;}
.prix_plats {@include flexbox; flex: 0;justify-content: flex-end; align-items:flex-end;padding:0.5rem;}
.command_box{@include flexbox; @include center; text-align: center; padding: 2rem 1rem;}
.check-box {@include flexbox; background-color: $color-tertiary;width: 0%; color:transparent;border-radius: 0 15px 15px 0;
justify-content: center;align-items: center; transition-duration: 3s;}

//loader-box
.loader-box {display:flex; width:100%; height: 100vh;z-index:1000;background-color:black;
     @include center;position: fixed;animation:fade-out 2s 3s;animation-fill-mode: forwards}