.local_form {@include flexbox;@include center;
    @media screen and (min-width : $desktops) 
    {align-items: flex-start; justify-content: flex-start;padding-left: 4rem;}}
.form_box {@include flexbox; @include center; background-color: map-get($background-color, local-color);
    height: 4rem;}
