.header {@include flexbox; padding-top: 1rem; @include center;
@media screen and (min-width : $tablets){padding-top: 2rem;}
@media screen and (min-width : $desktops){padding-top: 4rem;align-items: flex-start; justify-content: flex-start;background-color:#f5edff;}}


