.tuto_box {@include flexbox;}
.menu {@include flexbox; padding-top: 1rem;}
.menu_list {@include center; @include flexbox; justify-content: space-around;
    @media screen and (min-width : $tablets){text-align:start;align-self: flex-start;}}
.menu_list_step {@include flexbox;}
#step3 {background-color: #f5edff;}
